In [ ]:
import zipfile
import pandas as pd
import missingno as msno 
import warnings
warnings.filterwarnings("ignore")
import pymongo
import datetime

In [ ]:
dfs=[pd.read_csv(f'../Resources/cobra{i}.zip',compression='zip') for i in range(5)]

 

dfs[0].head()

In [ ]:
dfs[0].columns

In [ ]:
dfs[4].columns

In [ ]:
df_2009_2019.columns

In [ ]:
#checking duplicate row 
df_2009_2019.duplicated().sum()

In [ ]:
df_2009_2019.drop_duplicates(inplace=True)

In [ ]:
df_2009_2019.duplicated().sum()

In [ ]:

#checking duplicate row 
df_2009_2019.duplicated(subset=['Report Number']).sum()

In [ ]:
df_2009_2019.drop_duplicates(inplace=True,subset=['Report Number'])

In [ ]:
df_2009_2019.duplicated(subset=['Report Number']).sum()

In [ ]:
#checking number of null columns
df_2009_2019.isna().sum()

In [ ]:
msno.matrix(df_2009_2019)

In [ ]:
df_2009_2019

In [ ]:
df_2009_2019.drop(inplace=True,columns=['Apartment Office Prefix', 'Apartment Number','Possible Date','Possible Time'])

In [ ]:
df_2009_2019['Neighborhood'].nunique()

In [ ]:
year_map_df=df_2009_2019[["Report Number","Occur Date","Latitude","Longitude","UCR Literal","NPU","Beat"]]

In [ ]:
year_map_df.isna().sum()

In [ ]:
year_map_df.info()

In [ ]:
#changing the date column to datetime format
year_map_df["Occur Date"]=pd.to_datetime(year_map_df["Occur Date"])
year_map_df["Occur year"]=year_map_df["Occur Date"].dt.year
year_map_df["Occur month"]=year_map_df["Occur Date"].dt.month_name()
year_map_df.info()

In [ ]:
year_map_df

In [ ]:
year_map_df['UCR Literal'].unique()

In [ ]:
year_map_df1=year_map_df.dropna()

In [ ]:
year_map_df1.info()

In [ ]:
year_map_df1.groupby(["NPU","Occur year"]).count()

In [ ]:
year_map_df2=year_map_df1.groupby(["NPU","Occur year"]).count()['Report Number'].reset_index()

year_map_df2=year_map_df2.pivot_table(values='Report Number',index=['NPU'],columns=['Occur year'])
year_map_df2.drop(columns=[1916, 1920, 1970, 1973, 1976, 1979, 1980, 1991, 1993, 2000, 2001,
           2003, 2004, 2005, 2006, 2007, 2008],axis=1,inplace=True)

In [ ]:
year_map_df2.columns=year_map_df2.columns.astype("str")

In [ ]:
year_map_dict=year_map_df2.to_dict(orient = 'records')
j=list("ABCDEFGHIJKLMNOPQRSTVWXYZ")
z=0
for i in range(len(year_map_dict)):
    
    year_map_dict[i]['id']=j[z]
    z+=1

In [ ]:
from pymongo import MongoClient 
import pandas as pd 
client = MongoClient() 
db=client.test
crime = db.npu 
result = db.npu.insert_many(year_map_dict)

In [ ]:
listings = db.npu.find()

for listing in listings:
    print(listing)

In [ ]:
year_map_df3=year_map_df1.groupby(["NPU","UCR Literal","Occur year"]).count()['Report Number'].reset_index()

In [ ]:
year_map_df1.loc[(year_map_df1['NPU']=='B')&(year_map_df1['Occur year']==1916)]

In [ ]:
year_map_df2.to_csv('../Resources/test.csv')

In [ ]:
year_map_dict=year_map_df2.to_dict()

In [ ]:
year_map_dict

In [ ]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [ ]:
db = client.crime
collection = db.items

In [ ]:
# Part I
# A dictionary that represents the document to be inserted
post = {
    'vendor': 'fruit star',
    'fruit': 'raspberry',
    'quantity': 21,
    'ripeness': 2,
    'date': datetime.datetime.utcnow()
}
# Insert the document into the database
# The database and collection, if they don't already exist, will be created at this point.
fruits.insert_one(post)