In [41]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import ssl
import certifi
from urllib import request as req
import zipfile

import requests
import html5lib
import lxml
from splinter import Browser
import pymongo

In [2]:
#in case the last line of code doesn't work : uncomment this code
#ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\16789\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [4]:
url = 'https://www.atlantapd.org/i-want-to/crime-data-downloads'
browser.visit(url)

In [5]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
quotes = soup.find_all('div', id='widget_362_0_197')

In [7]:
lis=quotes[0].find_all('li')
Download_url=[]
for li in lis:
    link=li.find("a")
    href=link["href"]
    Download_url.append("https://www.atlantapd.org"+href)

In [8]:
Download_url

['https://www.atlantapd.org/home/showpublisheddocument/4730/637843168152670000',
 'https://www.atlantapd.org/home/showpublisheddocument/4576/637770569750770000',
 'https://www.atlantapd.org/home/showpublisheddocument/3705/637460445573930000',
 'https://www.atlantapd.org/home/showpublisheddocument/3587/637418951324270000',
 'https://www.atlantapd.org/home/showpublisheddocument/3051/637141450644130000']

In [9]:
for i in range(len(Download_url)):
    try:
        local_file = f'Resources/cobra{i}.zip'
        req.urlretrieve(Download_url[i], local_file)
    except:
        print("something is wrong :( ")

In [6]:
import zipfile
import pandas as pd
 

df = pd.read_csv('Resources/cobra0.zip',compression='zip')
 

df.head()

,offense_id,rpt_date,occur_date,occur_day,occur_day_num,occur_time,poss_date,poss_time,beat,zone,location,ibr_code,UC2_Literal,neighborhood,npu,lat,long
0,203140048,2/21/2022,11/9/2020,Monday,2.0,00:32,11/9/2020,01:49,409,4,"2111 CAMPBELLTON RD SW\nATLANTA, GA 30311\nUNI...",13A,AGG ASSAULT,Adams Park,R,33.706526,-84.458000
1,203421469,2/27/2022,12/7/2020,Monday,2.0,19:43,12/7/2020,20:26,405,4,"150 PEYTON PL SW\nATLANTA, GA 30311\nUNITED ST...",23B,LARCENY-NON VEHICLE,Harland Terrace,I,33.750613,-84.473202
2,203530136,2/21/2022,12/18/2020,Friday,6.0,01:28,12/18/2020,01:48,405,4,"2460 MARTIN LUTHER KING JR DR SW\nATLANTA, GA ...",23H,LARCENY-NON VEHICLE,Harland Terrace,I,33.752019,-84.468223
3,210121730,1/12/2022,1/12/2021,Tuesday,3.0,19:33,1/12/2021,19:38,509,5,"396 PIEDMONT AVE NE\nATLANTA, GA 30308\nUNITED...",13A,AGG ASSAULT,Downtown,M,33.764937,-84.382610
4,210638051,2/2/2022,3/4/2021,Thursday,5.0,19:50,3/4/2021,19:50,707,7,"4300 GLOBAL GATEWAY CONN\nCOLLEGE PARK, GA 303...",240,AUTO THEFT,NaN,NaN,33.637951,-84.468052

In [11]:
import zipfile
import pandas as pd
 

df = pd.read_csv('Resources/cobra1.zip',compression='zip')
 

df.head()

,offense_id,rpt_date,occur_date,occur_day,occur_day_num,occur_time,poss_date,poss_time,beat,zone,location,ibr_code,UC2_Literal,neighborhood,npu,lat,long
0,21140096,5/20/2021,5/19/2021,Wednesday,4.0,15:20,5/19/2021,15:25,103,1,"1720 MARIETTA BLVD NW\nATLANTA, GA 30318\nUNIT...",23F,LARCENY-FROM VEHICLE,Hills Park,D,33.801693,-84.436453
1,21791668,6/28/2021,6/27/2021,Sunday,1.0,21:17,6/28/2021,20:00,102,1,"870 MAYSON TURNER RD NW\nATLANTA, GA 30314\nUN...",23H,LARCENY-NON VEHICLE,Vine City,L,33.755768,-84.416631
2,200041082,1/5/2021,1/4/2021,Monday,2.0,16:00,1/4/2021,17:00,605,6,"275 MEMORIAL DR SE\nATLANTA, GEORGIA 30312\nUN...",23C,LARCENY-NON VEHICLE,Grant Park,W,33.746503,-84.378535
3,202611428,9/18/2021,9/18/2021,Saturday,7.0,18:04,9/18/2021,18:15,112,1,"2750 DONALD LEE HOLLOWELL PKWY NW\nATLANTA, GA...",23C,LARCENY-NON VEHICLE,Collier Heights,I,33.777383,-84.477433
4,202771329,8/19/2021,10/3/2020,Saturday,7.0,16:29,10/3/2020,16:29,109,1,"665 S GRAND AVE NW\nATLANTA, GA 30318\nUNITED ...",13A,AGG ASSAULT,Center Hill,J,33.773172,-84.462489

In [15]:
import zipfile
import pandas as pd
 

df = pd.read_csv('Resources/cobra2.zip',compression='zip')
 

df.head()

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apt_office_prefix,apt_office_num,location,MinOfucr,dispo_code,Shift,loc_type,UC2_Literal,ibr_code,neighborhood,npu,long,lat
0,203341346,12/31/2020,11/29/2020,19:21,11/29/2020,23:50,405,NaN,NaN,3050 M.L.K. JR DR SW,NaN,NaN,NaN,NaN,AGG ASSAULT,13A,Harland Terrace,I,-84.486163,33.751060
1,203631200,12/31/2020,12/28/2020,17:21,12/28/2020,17:45,302,NaN,NaN,1186 IRA ST SW,NaN,NaN,NaN,NaN,LARCENY-NON VEHICLE,23H,Pittsburgh,V,-84.399763,33.722696
2,203631285,12/31/2020,12/24/2020,14:00,12/24/2020,18:26,603,NaN,NaN,501 BOULEVARD PL NE,NaN,NaN,NaN,NaN,LARCENY-NON VEHICLE,23H,Old Fourth Ward,M,-84.370736,33.769680
3,203651634,12/31/2020,12/30/2020,20:15,12/30/2020,22:25,211,NaN,NaN,3101 PIEDMONT RD NE,NaN,NaN,NaN,NaN,LARCENY-FROM VEHICLE,23F,Peachtree Park,B,-84.369361,33.840653
4,203660108,12/31/2020,12/31/2020,1:15,12/31/2020,1:15,306,NaN,NaN,1974 SYLVAN RD SW,NaN,NaN,NaN,NaN,AGG ASSAULT,13A,Sylvan Hills,X,-84.418128,33.700432

In [13]:
import zipfile
import pandas as pd
 

df = pd.read_csv('Resources/cobra3.zip',compression='zip')
 

df.head()

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apartment_office_prefix,apartment_number,location,watch,location_type,UC2_Literal,UCR_Number,neighborhood,npu,lat,long
0,200021209,1/2/2020,1/2/2020,15:21,1/2/2020,15:35,511.0,NaN,NaN,12 BROAD ST SW,Evening Watch,21.0,HOMICIDE,110,Downtown,M,33.75352,-84.39189
1,200061707,1/6/2020,1/6/2020,0:00,1/6/2020,18:25,109.0,NaN,NaN,785 PEYTON AVE NW,Evening Watch,NaN,HOMICIDE,110,Center Hill,J,33.77655,-84.46770
2,200100013,1/10/2020,1/9/2020,23:45,1/10/2020,0:00,110.0,NaN,NaN,1977 JONES AVE NW,Morning Watch,20.0,HOMICIDE,110,West Highlands,G,33.78738,-84.45208
3,200151818,1/16/2020,1/15/2020,17:15,1/15/2020,17:40,401.0,NaN,NaN,549 JOSEPH LOWERY BLVD,Evening Watch,99.0,HOMICIDE,110,West End,T,33.74001,-84.41782
4,200180440,1/18/2020,1/18/2020,3:31,1/18/2020,3:31,206.0,NaN,NaN,28 IRBY AVE NW,Morning Watch,13.0,HOMICIDE,110,South Tuxedo Park,B,33.84102,-84.38018

In [11]:
import zipfile
import pandas as pd
 

df = pd.read_csv('Resources/cobra4.zip',compression='zip')
 

df.head()

C:\Users\16789\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
0,90010930,2009-01-01,2009-01-01,1145,2009-01-01,1148.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68845,-84.49328
1,90011083,2009-01-01,2009-01-01,1330,2009-01-01,1330.0,511.0,NaN,NaN,12 BROAD ST SW,Day Watch,9,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75320,-84.39201
2,90011208,2009-01-01,2009-01-01,1500,2009-01-01,1520.0,407.0,NaN,NaN,3500 MARTIN L KING JR DR SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Adamsville,H,33.75735,-84.50282
3,90011218,2009-01-01,2009-01-01,1450,2009-01-01,1510.0,210.0,NaN,NaN,3393 PEACHTREE RD NE,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
4,90011289,2009-01-01,2009-01-01,1600,2009-01-01,1700.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68677,-84.49773

In [ ]:
# conn = 'mongodb://localhost:27017'

# client = pymongo.MongoClient(conn)

# db = client.crime_db

# data = list(db.crime_info.find())[0]

# data

In [34]:
#Loop through every file
for i in range(0,5):
    #Read CSV file
    temp_df = pd.read_csv(f'Resources/cobra{i}.zip',compression='zip')
    #If firtst file then make it the main df
    if i == 0:
        df = temp_df
    #Else concat with main df
    else:
        df = pd.concat([df, temp_df])
        
display(df)

C:\Users\16789\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,location,shift,UC2_Literal,neighborhood,lat,long
0,203140048,2/21/2022,11/9/2020,0:32,11/9/2020,1:49,"2111 CAMPBELLTON RD SW\nATLANTA, GA 30311\nUNI...",NaN,AGG ASSAULT,Adams Park,33.706526,-84.458000
1,203421469,2/27/2022,12/7/2020,19:43,12/7/2020,20:26,"150 PEYTON PL SW\nATLANTA, GA 30311\nUNITED ST...",NaN,LARCENY-NON VEHICLE,Harland Terrace,33.750613,-84.473202
2,203530136,2/21/2022,12/18/2020,1:28,12/18/2020,1:48,"2460 MARTIN LUTHER KING JR DR SW\nATLANTA, GA ...",NaN,LARCENY-NON VEHICLE,Harland Terrace,33.752019,-84.468223
3,210121730,1/12/2022,1/12/2021,19:33,1/12/2021,19:38,"396 PIEDMONT AVE NE\nATLANTA, GA 30308\nUNITED...",NaN,AGG ASSAULT,Downtown,33.764937,-84.382610
4,210638051,2/2/2022,3/4/2021,19:50,3/4/2021,19:50,"4300 GLOBAL GATEWAY CONN\nCOLLEGE PARK, GA 303...",NaN,AUTO THEFT,NaN,33.637951,-84.468052
...,...,...,...,...,...,...,...,...,...,...,...,...
342909,193652089,12/31/2019,12/31/2019,2030,12/31/2019,2034,1385 SHARON ST NW,Morning Watch,AGG ASSAULT,Hunter Hills,33.754860,-84.432870
342910,193650336,12/31/2019,12/31/2019,432,12/31/2019,432,262 PHARR RD NE,Morning Watch,AGG ASSAULT,Buckhead Village,33.837320,-84.378600
342911,193650603,12/31/2019,12/31/2019,920,12/31/2019,940,689 CASCADE AVE SW,Day Watch,AGG ASSAULT,Westview,33.736360,-84.436800
342912,193651760,12/31/2019,12/31/2019,1853,12/31/2019,1900,763 CASCADE AVE SW,Evening Watch,AGG ASSAULT,Westview,33.734830,-84.437500
342913,193652591,12/31/2019,12/31/2019,2045,12/31/2019,2055,237 PEYTON PL SW,Evening Watch,AGG ASSAULT,Cascade Avenue/Road,33.725180,-84.450130

In [47]:
conn = 'mongodb://localhost:27017'

client = pymongo.MongoClient(conn)

db = client.crime_db

collection = db.crime_info

In [51]:
df.reset_index(inplace=True)

In [55]:
data_dict = df.to_dict('records')

In [58]:
collection.insert_many(data_dict)