In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import ssl
import certifi
from urllib import request as req
import zipfile

import requests
import html5lib
import lxml
from splinter import Browser
import pymongo

In [2]:
#in case the last line of code doesn't work : uncomment this code
#ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
#Loop through every file
for i in range(0,5):
    #Read CSV file
    temp_df = pd.read_csv(f'Resources/cobra{i}.zip',compression='zip')
    #If firtst file then make it the main df
    if i == 0:
#         try:
#             temp_df['poss_time'] = temp_df['poss_time'].astype('int')
#         except:
#             pass
        df = temp_df
    #Else concat with main df
    else:
#         try:
#             temp_df['poss_time'] = temp_df['poss_time'].astype('int')
#         except:
#             pass
        df = pd.concat([df, temp_df])
        
display(df)

C:\Users\16789\.conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,location,shift,UC2_Literal,neighborhood,lat,long
0,203140048,2/21/2022,11/9/2020,0:32,11/9/2020,1:49,"2111 CAMPBELLTON RD SW\nATLANTA, GA 30311\nUNI...",NaN,AGG ASSAULT,Adams Park,33.706526,-84.458000
1,203421469,2/27/2022,12/7/2020,19:43,12/7/2020,20:26,"150 PEYTON PL SW\nATLANTA, GA 30311\nUNITED ST...",NaN,LARCENY-NON VEHICLE,Harland Terrace,33.750613,-84.473202
2,203530136,2/21/2022,12/18/2020,1:28,12/18/2020,1:48,"2460 MARTIN LUTHER KING JR DR SW\nATLANTA, GA ...",NaN,LARCENY-NON VEHICLE,Harland Terrace,33.752019,-84.468223
3,210121730,1/12/2022,1/12/2021,19:33,1/12/2021,19:38,"396 PIEDMONT AVE NE\nATLANTA, GA 30308\nUNITED...",NaN,AGG ASSAULT,Downtown,33.764937,-84.382610
4,210638051,2/2/2022,3/4/2021,19:50,3/4/2021,19:50,"4300 GLOBAL GATEWAY CONN\nCOLLEGE PARK, GA 303...",NaN,AUTO THEFT,NaN,33.637951,-84.468052
...,...,...,...,...,...,...,...,...,...,...,...,...
342909,193652089,12/31/2019,12/31/2019,2030,12/31/2019,2034,1385 SHARON ST NW,Morning Watch,AGG ASSAULT,Hunter Hills,33.754860,-84.432870
342910,193650336,12/31/2019,12/31/2019,432,12/31/2019,432,262 PHARR RD NE,Morning Watch,AGG ASSAULT,Buckhead Village,33.837320,-84.378600
342911,193650603,12/31/2019,12/31/2019,920,12/31/2019,940,689 CASCADE AVE SW,Day Watch,AGG ASSAULT,Westview,33.736360,-84.436800
342912,193651760,12/31/2019,12/31/2019,1853,12/31/2019,1900,763 CASCADE AVE SW,Evening Watch,AGG ASSAULT,Westview,33.734830,-84.437500
342913,193652591,12/31/2019,12/31/2019,2045,12/31/2019,2055,237 PEYTON PL SW,Evening Watch,AGG ASSAULT,Cascade Avenue/Road,33.725180,-84.450130

In [4]:
#Convert all occur_time to same format

#Convert to string
df['occur_time'] = df['occur_time'].astype('str')
#Take out minutes
df['occur_time_right'] = df['occur_time'].str[-2:]
#Take out the hour and possibly the ":"
df['occur_time_left'] = df['occur_time'].str[:-2]
#Remove ":"
df['occur_time_left'] = df['occur_time_left'].str.replace(":", "")
#Add leading zeros
df['occur_time_left'] = df['occur_time_left'].apply(lambda x: x.zfill(2))
#Combine hours + ":" + minutes
df['occur_time'] = df['occur_time_left']+":"+df['occur_time_right']
#Drop columns
df = df.drop(columns = ['occur_time_left', 'occur_time_right'])

#Convert all poss_time to same format

#Split on "." and take the left half to convert float to integer
df['poss_time'] = df['poss_time'].astype('str').str.split(".", expand=True)[0]
df['poss_time_right'] = df['poss_time'].str[-2:]
df['poss_time_left'] = df['poss_time'].str[:-2]
df['poss_time_left'] = df['poss_time_left'].str.replace(":", "")
df['poss_time_left'] = df['poss_time_left'].apply(lambda x: x.zfill(2))
df['poss_time'] = df['poss_time_left']+":"+df['poss_time_right']
df = df.drop(columns = ['poss_time_left', 'poss_time_right'])

In [5]:
display(df)

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,location,shift,UC2_Literal,neighborhood,lat,long
0,203140048,2/21/2022,11/9/2020,00:32,11/9/2020,01:49,"2111 CAMPBELLTON RD SW\nATLANTA, GA 30311\nUNI...",NaN,AGG ASSAULT,Adams Park,33.706526,-84.458000
1,203421469,2/27/2022,12/7/2020,19:43,12/7/2020,20:26,"150 PEYTON PL SW\nATLANTA, GA 30311\nUNITED ST...",NaN,LARCENY-NON VEHICLE,Harland Terrace,33.750613,-84.473202
2,203530136,2/21/2022,12/18/2020,01:28,12/18/2020,01:48,"2460 MARTIN LUTHER KING JR DR SW\nATLANTA, GA ...",NaN,LARCENY-NON VEHICLE,Harland Terrace,33.752019,-84.468223
3,210121730,1/12/2022,1/12/2021,19:33,1/12/2021,19:38,"396 PIEDMONT AVE NE\nATLANTA, GA 30308\nUNITED...",NaN,AGG ASSAULT,Downtown,33.764937,-84.382610
4,210638051,2/2/2022,3/4/2021,19:50,3/4/2021,19:50,"4300 GLOBAL GATEWAY CONN\nCOLLEGE PARK, GA 303...",NaN,AUTO THEFT,NaN,33.637951,-84.468052
...,...,...,...,...,...,...,...,...,...,...,...,...
342909,193652089,12/31/2019,12/31/2019,20:30,12/31/2019,20:34,1385 SHARON ST NW,Morning Watch,AGG ASSAULT,Hunter Hills,33.754860,-84.432870
342910,193650336,12/31/2019,12/31/2019,04:32,12/31/2019,04:32,262 PHARR RD NE,Morning Watch,AGG ASSAULT,Buckhead Village,33.837320,-84.378600
342911,193650603,12/31/2019,12/31/2019,09:20,12/31/2019,09:40,689 CASCADE AVE SW,Day Watch,AGG ASSAULT,Westview,33.736360,-84.436800
342912,193651760,12/31/2019,12/31/2019,18:53,12/31/2019,19:00,763 CASCADE AVE SW,Evening Watch,AGG ASSAULT,Westview,33.734830,-84.437500
342913,193652591,12/31/2019,12/31/2019,20:45,12/31/2019,20:55,237 PEYTON PL SW,Evening Watch,AGG ASSAULT,Cascade Avenue/Road,33.725180,-84.450130

In [24]:
#Convert data to dictionary for Mongo DB

df.reset_index(inplace=True)

data_dict = df.to_dict('records')

In [25]:
conn = 'mongodb://localhost:27017'

client = pymongo.MongoClient(conn)

db = client.crime_db

collection = db.crime_info

collection.delete_many({})

collection.insert_many(data_dict)

In [23]:
username = 'user'
password = 'pythonclass'

myconnection = f'mongodb+srv://{username}:{password}@cluster0.n5itv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'

myclient = pymongo.MongoClient(myconnection)

db = myclient.crime_db

collection = db.crime_info

collection.delete_many({})

collection.insert_many(data_dict)

In [15]:
print(myclient.list_database_names())

['admin', 'local']